/* 👉 JetBrains Mono Font Face */
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/JetBrainsMono-Regular.ttf") format("truetype");
}
